In [30]:
from pyhive import hive

connection=hive.connect(host='localhost', port='10000',username='spark')

In [31]:
import pandas as pd

df_tables=pd.read_sql(con=connection,sql="show tables")
df_tables

C:\Users\I538883\AppData\Local\Temp\ipykernel_141116\3825761271.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tables=pd.read_sql(con=connection,sql="show tables")

Empty DataFrame
Columns: [namespace, tableName, isTemporary]
Index: []

In [33]:
results=pd.read_sql(con=connection,sql="SELECT * FROM global_temp.gdelt")
results

C:\Users\I538883\AppData\Local\Temp\ipykernel_141116\74642899.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  results=pd.read_sql(con=connection,sql="SELECT * FROM global_temp.gdelt")

,Date,GoldsteinScaleSum,EventCount,CountryName,CountryCode
0,2022-03-03,106.500000,200,Denmark,DK
1,2021-03-04,63.600000,45,Ukraine,UA
2,2022-02-25,-5002.199916,23909,Ukraine,UA
3,2022-02-24,717.500002,731,Italy,IT
4,2022-02-24,-14.499999,46,Slovakia,SK
...,...,...,...,...,...
5395,2012-03-08,-9.600000,2,Ukraine,UA
5396,2012-03-08,0.400000,1,United States of America,US
5397,2021-03-06,-9.000000,1,Somalia,SO
5398,2022-01-27,8.700000,3,Greece,GR
5399,2022-01-27,-4.000000,2,Nigeria,NG

In [34]:
connection.close()